body {
    background-color: #1a1a1a; /* Fundo preto para um contraste elegante */
    color: #fefefe; /* Cor de texto branco */
    font-family: Arial, sans-serif;
}

/* Estilização da barra de navegação */
.navbar {
    background-color: #333; /* Fundo escuro */
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #ff4c4c; /* Destaque em vermelho */
    color: #ffffff;
}

/* Estilização do container de ícones */
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap; /* Para um layout responsivo */
}

/* Estilização dos ícones */
.icone {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s;
    border-radius: 50%; /* Forma circular */
    background-color: #333; /* Fundo escuro para destacar ícones */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff4c4c; /* Cor dos ícones em vermelho */
    font-size: 24px;
}

.icone:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 76, 76, 0.5); /* Sombra vermelha */
}

/* Estilização das imagens e suas descrições */
.imagem-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    margin-top: 20px;
}

.imagem-container.mostrar {
    opacity: 1;
    max-height: 1000px;
}

/* Estilização do item */
.item {
    text-align: center;
    margin-bottom: 20px;
    color: #fefefe;
}

.item img {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra para destacar imagem */
    transition: transform 0.3s ease;
    border: 2px solid #ff4c4c; /* Borda vermelha */
}

.item img:hover {
    transform: scale(1.05);
}

/* Estilização do preço */
.price {
    color: #ff4c4c; /* Destaque em vermelho */
    font-weight: bold;
    font-size: 1.2em;
    margin: 8px 0;
}
